.treinar{
    color: #00FFFB;
    font-size: 2rem;
    text-align: center;
}

.naturia, .malefic, .wingeon , .raibolt, .volcanic, .gardestrike, .orebound, .pyscraft, .Seavel, .Ironhard{
    background: url(../img/clans/naturia.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 80px;
    padding: 10px 20px;
}

.naturia, .malefic, .wingeon , .raibolt, .volcanic, .gardestrike, .orebound, .pyscraft, .Seavel, .Ironhard h2{
    text-align: center;
    color: var(--inicio-color);
    cursor: pointer;
}

.container-clan{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 40px;
}

.banner{
    width: 400px;
    height: 400px;
}

.banner-element{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 40px;
    left: 100px;
}

.titulo-element h1{
    position: absolute;
    top: 310px;
    left: 120px;
    font-size: 3rem;
}

.img-banner{
    margin-top: 20px;
    width: 600px;
    height: 400px;
    background: linear-gradient(#1DA4D9, #4898D2) padding-box,
                linear-gradient(45deg, #1DA4D9, #4898D2) border-box;
    border: 15px solid transparent;
    border-radius: 12px;
}
.grid-clan{
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    position: relative;
}

@media(min-width: 320px) and (max-width: 480px){
    .grid-clan{
        display: flex;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        position: relative;
    }

    .banner-element{
        width: 200px;
        height: 200px;
        position: absolute;
        top: 40px;
        left: 60px;
    }
    .titulo-element h1{
        position: absolute;
        top: 240px;
        left: 80px;
        font-size: 3rem;
    }
    .img-banner{
        margin-top: 20px;
        width: 320px;
        height: 80%;
        background: linear-gradient(#1DA4D9, #4898D2) padding-box,
                    linear-gradient(45deg, #1DA4D9, #4898D2) border-box;
        border: 15px solid transparent;
        border-radius: 12px;
    }

    .banner{
        width: 320px;
        height: 320px;
    }
}

@media(min-width: 481px) and (max-width: 768px){
    .grid-clan{
        display: flex;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        position: relative;
    }

    .banner-element{
        width: 200px;
        height: 200px;
        position: absolute;
        top: 40px;
        left: 60px;
    }
    .titulo-element h1{
        position: absolute;
        top: 240px;
        left: 80px;
        font-size: 3rem;
    }
    .img-banner{
        margin-top: 20px;
        width: 320px;
        height: 80%;
        background: linear-gradient(#1DA4D9, #4898D2) padding-box,
                    linear-gradient(45deg, #1DA4D9, #4898D2) border-box;
        border: 15px solid transparent;
        border-radius: 12px;
    }

    .banner{
        width: 320px;
        height: 320px;
    }
}

@media(min-width: 769px) and (max-width: 1024px){
    .grid-clan{
        display: grid;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        position: relative;
    }

    .banner-element{
        width: 200px;
        height: 200px;
        position: absolute;
        top: 40px;
        left: 60px;
    }
    .titulo-element h1{
        position: absolute;
        top: 240px;
        left: 80px;
        font-size: 3rem;
    }
    .img-banner{
        margin-top: 20px;
        width: 320px;
        height: 80%;
        background: linear-gradient(#1DA4D9, #4898D2) padding-box,
                    linear-gradient(45deg, #1DA4D9, #4898D2) border-box;
        border: 15px solid transparent;
        border-radius: 12px;
    }

    .banner{
        width: 320px;
        height: 320px;
    }
}