:root{
    --azul-color: #18ADDD;
    --menu-color: #222F42;
    --inicio-color: #FFF;
    --sessao-color: #FFC106;
    --conta-color: #808080;
    --imagem-background: linear-gradient(#18ADDD, #222F42);
};

